/* Common styles for all slides */
h1 {
  background-color: #2B90B6;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

li {
  font-size: 1.3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  color: #307690;
}

p {
  font-size: 1.2em;
}